{
  "env": {
    "MONGO_ATLAS_USER": "rohithkalianpur",
    "MONGO_ATLAS_PW": "rOHITH99#",
    "MONGO_ATLAS_DB": "FreelanceConnect",
    "CLOUDINARY_API_KEY": "624156397988317",
    "CLOUDINARY_API_SECRET": "Si6R7_djEcdNgMMn1ZD6RfnyHiU",
    "CLOUDINARY_NAME": "denymlfwt",
    "JWT_KEY": "J3bVahuoH4MB7txoUfmgxICq0WNBfSbY"
  }
}

